/* MAIN */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Zen+Dots&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lucida Sans';
  background-color: rgb(243, 243, 243);
}

a {
  text-decoration: none;
  color: rgb(243, 243, 243);
}

input {
  padding: 0.8rem 0.8rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  font-size: 1.5rem;
}

input:focus {
  box-shadow: 0 0 0.4rem 0.2rem rgba(119, 119, 119, 0.7);
}

.logo {
  font-family: 'Zen Dots', 'Lucida Sans';
}

.clickable {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 16rem;
  color: black;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  font-size: 1.5rem;
  padding: 1rem;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(232, 232, 232);
}

.dropdown-hover:hover .dropdown-content {
  display: block;
}

li {
  list-style: none;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-container .logo {
  margin: 3rem;
  color:rgb(33, 33, 33)
}

.center-box {
  background-color: rgb(33, 33, 33);
  border-radius: 0.5rem;
  color: rgb(243, 243, 243);
  padding: 2rem;
  width: 30%;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 4rem;
}

.center-box h1 {
  font-size: 2rem;
}

.center-box form {
  margin: 1rem 4rem;
}

.center-box .form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 .center-box .form-group input {
  width: 100%;
 }

 .center-box .form-group label {
  margin-right: auto;
 }

 .center-box button {
  margin: 2rem 0;
 }

 .center-box h1 {
  margin: 1rem 0 2rem 0;
 }

 button {
  padding: 1.2rem;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  min-width: 10rem;
 }

 .bg-white {
  background-color: rgb(243, 243, 243);
 }

 button.bg-white:hover {
  background-color: rgb(225, 225, 225);
 }

.classic-link:hover {
  text-decoration: underline;
}

.input-message {
  visibility: hidden;
}
